/* Slider Card */
.combo {
    background-color: #282828;
    height: 400px;
  }
  .combo .combo-action {
    background-color: aqua;
    color: #282828;
    font-size: 0.7em;
  }
  .combo .combo-action:hover {
    background-color: #efefef;
  }
  .combo .combo-content {
    color: #fff !important;
    font-family: "Roboto";
    padding-bottom: 0 !important;
    display: flex;
    flex-direction: column;
  }
  .combo .combo-content h3 {
    line-height: 90% !important;
    margin-bottom: 20%;
    font-size: 2.3rem;
  }
  .combo .combo-content .product-desc {
    margin-bottom: 25%;
  }
  .combo .combo-content .price-green {
    color: floralwhite;
    font-size: 2.3rem;
  }
  .combo .combo-content .post-title {
    height: 20px;
    background-color: red;
  }
  
  .indicators {
    bottom: 60px !important;
    z-index: 999;
    display: flex;
    justify-content: flex-end;
  }
  .indicators .indicator-item {
    margin: 2% !important;
  }
  .indicators indicator-item .active {
    background-color: red;
  }
  
  .slider .indicators .indicator-item.active {
    background-color: #282828;
  }